#root {
    padding-top: 50px;
}

.form-container {
    display: flex;
    justify-content: center;
}

button {
    height: 50px;
    width: 120px;

    background-color: rgb(202, 128, 252);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    transition: transform ease-in-out 0.2s;
}

button:hover {
    transform: scale(1.1);
}
