.education-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 10px;
}

.education-info > h2 {
  grid-column: 1 / 5;
}
.education-info > label {
  grid-column: 1 / 2;
}
.education-info > input {
  grid-column: 2 / 5;
}
.education-info > .education-start-date {
  justify-self: center;
  grid-column: 1 / 3;
}
.education-info > .education-end-date {
  justify-self: center;
  grid-column: 3 / 5;
}
.education-info input[type="date"] {
  margin-left: 10px;
}
