.general-info {
  display: grid;
  grid-template-columns: 1fr 3fr;
  row-gap: 10px;
}

.general-info > h2 {
  grid-column: 1 / 3;
}

.general-info > label {
  grid-column: 1 / 2;
}

.general-info > input {
  grid-column: 2 / 3;
}
