* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100vh;
}

#root {
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, 0.322);
}